<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreykaraman.customiamgesearchtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock">
        <activity
            android:name="com.andreykaraman.customiamgesearchtest.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="com.andreykaraman.customiamgesearchtest.DBContentProvider"
            android:authorities="com.andreykaraman.customiamgesearchtest"></provider>

        <service
            android:name="com.andreykaraman.customiamgesearchtest.db.DBService"
            android:enabled="true">
        </service>
    </application>

</manifest>
